@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
width: 100%;
height: 100vh;
background: rgb(240, 239, 243);
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.container{
    width: 375px;
    height: 520px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.6);
    padding: 20px;
    /* margin: auto; */
    overflow-y: auto;
    
    
}
.container::-webkit-scrollbar{
    display: none;
}
.container form{
    width: 100%;
    /* height: 70px; */
    border: 1px solid rgb(82, 74, 235);
    border-radius: 4px;
   
    

}
.container form input{
    /* width: 100%; */
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
}
.container form i{
    padding-left:10px ;
}
.product{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.product img{
    width: 100%;
    width: 75px;
    height: 75px;
    border-radius: 18px;
    padding:10px;
    object-fit: cover;
}
.p-detail{
    width: 100%;
    /* margin-left: 10px; */
}
.p-detail h2{
    font-size: 1.5rem;
    color: rgb(40, 38, 38);
}
.p-detail h4{
    font-size: 18px;
    color: rgb(40, 38, 38);
}